body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@font-face {
	font-family: 'Circular';
	src: url(./CircularStd-Medium.ttf);
	font-weight: 100;
}

.circular {
	font-family: circular;
	font-weight: 100 !important;
}

/* .start2 {
	left: calc(50% - 40px);
}
.start3 {
	left: calc(50% + 190px);
}
.start {
	left: calc(50% - 270px);
} */
#start {
	background-color: #c73333;
	display: inline-block;
	color: white;
	border-radius: 30px;
	font-size: 15px;
	z-index: 100;
	cursor: pointer;
	font-weight: 100 !important;
	text-align: center;
	vertical-align: middle;
	width: 60px;
	height: 60px;
	border-radius: 100px;
	margin: 0px 17px;
}
#start img,
#stop img {
	padding-top: 15px;
}
#stop {
	display: inline-block;
	background-color: #318e31;

	color: white;
	border-radius: 30px;
	font-size: 15px;
	z-index: 100;
	cursor: pointer;
	font-weight: 100 !important;
	text-align: center;
	vertical-align: middle;
	width: 60px;
	height: 60px;
	border-radius: 100px;
	margin: 0px 17px;
	/* box-shadow: 0px 0px 0px 1px #2221214d; */
}

.action-buttons {
	position: fixed;
	bottom: 25px;
	text-align: center;
	z-index: 200;
}

#start:active {
	box-shadow: 1px 1px 1px red;
}

.bottom-right {
	position: fixed;
	bottom: 160px;
	right: 50px;
	border-radius: 2px;
	z-index: 100;
	cursor: pointer;
	border: 1px solid #616161;
}

.overlay {
	position: fixed;
	width: 100%;
	bottom: 0px;
	height: 110px;
	z-index: 200;
}

.v-middle {
	vertical-align: middle;
}
.disabled {
	opacity: 0.3;
	pointer-events: none;
}

div,
video {
	transition: 0.5s cubic-bezier(0.5, 0.5, 0, 1);
}

.text-center {
	text-align: center;
}

.switch {
	display: inline-block;
	position: fixed;
	background: rgba(255, 255, 255, 0.452);
	height: 33px;
	text-align: center;
	width: 165px;
	border-radius: 4px;
	color: black;
	vertical-align: middle;
	box-shadow: 0px 0px 1px 0px black;
	cursor: pointer;
}
.switch:active,
.switch:hover {
	background: rgb(255, 255, 255) !important;
}

.switch:active > img {
	transform: rotate(360deg);
	transition: 0.9s all ease;
}

@keyframes flickerAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes flickerAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes flickerAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes flickerAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#animate-flicker {
	-webkit-animation: flickerAnimation 1s infinite;
	-moz-animation: flickerAnimation 1s infinite;
	-o-animation: flickerAnimation 1s infinite;
	animation: flickerAnimation 1s infinite;
}
.timer {
	position: fixed;
	bottom: 40px;
	left: 20px;
	z-index: 100;
}

.action-buttons .__react_component_tooltip {
	background: #1b1e24 !important;
	opacity: 1 !important;
}

.action-buttons .__react_component_tooltip::after {
	border-top-color: #1b1e24 !important;
}

.switch-div{
	margin-top: 7px;
    position: relative;
    display: flex;
    margin-left: 16px;
}